Question 1 answer

In [42]:
sampleDict = {
    "Country":{
        "Indian Cricket Team":{
            "name": ["Rohit", "Virat", "Rahul", "Shami", "Bumrah"],
            "Runs": {"Rohit": 47, "Virat": 54, "Rahul": 66}}}}

"Virat"
print(sampleDict["Country"]["Indian Cricket Team"] ["Runs"] ["Virat"])

54

In [ ]:
Question 2 answer

In [22]:
sample_dict = {'a': 100, 'b': 2800, 'c': 300}
if 2700 in sample_dict.values():
          print("The value 2700 exists")
else:
          print("The value 2700 don't exist")

The value 2700 don't exist

Question 3 answer

In [37]:
sample_set = {"Surya", "Kapil", "MSD"}
sample_list = ["Sachin", "Siraj", "Sehwag"]

sample_set.update(sample_list)

print(sample_set)

{'MSD', 'Surya', 'Siraj', 'Kapil', 'Sachin', 'Sehwag'}

question 4

In [41]:
set1 = {10, 20, 30 , 40 , 50}
set2 = {30, 40, 50, 60, 70}

combined_numbers = set1 & set2
print(combined_numbers)

{40, 50, 30}

question 5

In [50]:
numbers = [1, 2, 3, 4, 5, 6, 7]
squared_numbers = [ numbers * numbers]

print(squared_numbers)

TypeError: can't multiply sequence by non-int of type 'list'

question 6

In [ ]:
cant do it sorry i will practise